@keyframes fadeIn {
  0% {
    opacity: .2
  }

  to {
    opacity: 1
  }
}

* {
  box-sizing: border-box;
  animation: fadeIn .3s ease-in-out forwards;
  transition: background-color .1s ease-in-out,color .05s ease-in-out;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  max-width: 800px;
  margin: 0 auto;
  background-color: #f2f4f8;
}

.search-form, .api-docs, .company {
  background-color: #fff;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 10px 0 #3a529b0e;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"] {
  background-color: #f2f4f8;
  width: 100%;
  padding: 10px;
  border: 1px solid #f2f4f8;
  border-radius: 4px;
  font-size: 16px;
  outline: none;
}

button {
  background-color: #3a529b;
  color: white;
  border: 1px solid #3a529b;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover:not(:disabled) {
  background-color: #4b69c4;
}

button:disabled {
  background-color: #cccccc;
}

.error {
  color: crimson;
  padding: 10px;
  background-color: #ffebee;
  border-radius: 4px;
  margin-bottom: 15px;
}

.results {
  margin-top: 20px;
}


.list{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.company:last-child {
  border-bottom: none;
}

.company-name {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 5px;
}

.company-details {
  color: #666;
}
p.center{
  text-align: center;
  color: gray;
}

.api-docs {
  margin-top: 40px;
  padding-top: 20px;
  border-top: 2px solid #eee;
}

code {
  background-color: #f5f5f5;
  padding: 2px 5px;
  border-radius: 3px;
}

pre {
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 5px;
  overflow-x: auto;
}

.pagination-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-top: 20px;
}

.pagination-info {
  font-size: 14px;
}